.container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-calculator{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #121212;
  margin: 0;
  border-radius: 10px;
}

.center-calculator{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  max-width: 605px;
  max-height: 350px;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}

.cuadro-calculator{
  display: flex;
  width: 605px;
  background-color: #202020;
  position: relative;
  justify-content: right;
  border-radius: 10px 10px 0px 0px;

}

.cuadro-calculator h2{
  margin-right: 20px;
  color: white;
}

.number-calculator{
  display: flex;
  position: relative;
  flex-direction: row;
  color: white;
  border: 1px solid #eee;
  width: 150px;
  cursor: pointer;
}

.number-calculator:hover{
  background-color: #202020;
}

.number-calculator h3{
  margin-left: 70px;
}

.container-operators{
  display: flex;
  position: relative;
  flex-direction: column;
  left: 303px;
  top: -186.1px;
}

.operators-calculator{
  display: flex;
  position: relative;
  color: white;
  border: 1px solid #eee;
  width: 150px;
  cursor: pointer;
}

.operators-calculator:hover{
  background-color: #202020;
}

.operators-calculator h3{
  margin-left: 70px;
}
